/* Estilo para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5dd;
}


/* Estilos para los encabezados */
h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    color: #060d4d;
    text-align: center;
    
}

/* Estilo para el parrafo */
p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
    margin: 15px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 4px solid #0ce93c;
}
/* Estilo para la imagen */
img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    width: 210px;
    height: auto;
}

/* Estilos para las listas */
ol, ul {
    margin: 20px;
    padding: 0 20px;
    list-style-position: inside;
    text-align: center;
}

li {
    margin-bottom: 5px;
    text-align: center;
}

/* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #0ff144;
    color: white;
}

td {
    background-color: #ffffff;
}

/* Estilo para el receso */
td[colspan="5"] {
    background-color: #d3d3d3;
    font-weight: bold;
}